<!-- Start Breadcrumb -->
<div class="titlebar" style="background-image: url(/assets/img/breadcrumb-img.jpeg);">
    <div class="titlebar-inner">
        <div class="container">
            <div class="row">
                <div class="titlebar-col col-md-12 animate__animated animate__fadeInLeft">
                    <h1>Circulars</h1>
                    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumbs">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">
                                <i class="fas fa-chevron-right"></i>
                                <span>Circulars</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-6 col-sm-12 col-xs-12 h-left">
                        <div class="card-tools">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-print"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-search-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-search-minus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-share">
                            <div class="card-social">
                                <a class="share-icon facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="share-icon twitter" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="share-icon linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="share-icon mail" href="#"><i class="fas fa-envelope-open-text"></i></a>
                            </div>
                            <a id="share" class="share-toggle share-icon" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="circulars-filter">
                        <ul>
                            <li>
                                <select name="year">
                                    <option value="0">Select Year</option>
                                    <option value="2021" selected="selected">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                </select>
                            </li>
                            <li>
                                <input type="text" name="keywords" placeholder="Keyword" class="textbox">
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </li>

                        </ul>
                    </div>
                    <div class="card-title">
                        Circulars 2021
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>NUM.</th>
                                    <th class="main-cell">RESOLUTION DESCRIPTION</th>
                                    <th>SIZE</th>
                                    <th class="btn-cell">PDF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="main-cell">Circular (1) of 2021</td>
                                    <td>494KB</td>
                                    <td class="action">
                                        <i class="fas fa-file-pdf text-success"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="main-cell">Circular (2) of 2021</td>
                                    <td>181KB</td>
                                    <td class="action">
                                        <i class="fas fa-file-pdf text-success"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td class="main-cell">Circular (3) of 2021</td>
                                    <td>32KB</td>
                                    <td class="action">
                                        <i class="fas fa-file-pdf text-success"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="d-flex justify-content-end p-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-6 col-sm-12 col-xs-12 h-left">
                        <div class="card-tools">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-print"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-search-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-search-minus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-share">
                            <div class="card-social">
                                <a class="share-icon facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="share-icon twitter" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="share-icon linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="share-icon mail" href="#"><i class="fas fa-envelope-open-text"></i></a>
                            </div>
                            <a id="share" class="share-toggle share-icon" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="circulars-filter">
                        <ul>
                            <li>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#addField"><i class="fas fa-plus-circle"></i> ADD</button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-title">
                        Circulars 2021
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>NUM.</th>
                                    <th class="main-cell">RESOLUTION DESCRIPTION</th>
                                    <th>SIZE</th>
                                    <th class="btn-cell">PDF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="main-cell">Circular (1) of 2021</td>
                                    <td>494KB</td>
                                    <td class="action">
                                        <i class="fas px-1 fa-eye text-success"></i>
                                        <i class="fas px-1 fa-edit text-dark"></i>
                                        <i class="fas px-1 fa-trash-alt text-danger"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="main-cell">Circular (2) of 2021</td>
                                    <td>181KB</td>
                                    <td class="action">
                                        <i class="fas px-1 fa-eye text-success"></i>
                                        <i class="fas px-1 fa-edit text-dark"></i>
                                        <i class="fas px-1 fa-trash-alt text-danger"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td class="main-cell">Circular (3) of 2021</td>
                                    <td>32KB</td>
                                    <td class="action">
                                        <i class="fas px-1 fa-eye text-success"></i>
                                        <i class="fas px-1 fa-edit text-dark"></i>
                                        <i class="fas px-1 fa-trash-alt text-danger"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-flex justify-content-end p-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>