<header id="header" class="mega-menu">
 

  <nav class="navbar navbar-expand-md navbar-light bg-light p-0">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="headerLogo" src="/assets/img/Logo.svg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="login"><span> login </span></a>
          </li>
          <li class="nav-item">
            <a routerLink="about"><span> About </span></a>
          </li>
          <li class="nav-item">
            <a routerLink="forms"><span> forms </span></a>
          </li>
          <li class="nav-item dropdown mega-menu-full">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="mega-menu-content">
                  <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 d-none d-lg-block ">
                      <img class="img-fluid" alt="DropheaderImg1" src="/assets/img/riyadh.png">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="box">
                        <ul>
                          <li>
                            <h4>Heading</h4>
                          </li>
                          <li><a href="about-us.html">About Us</a>
                          </li>
                          <li><a href="circulars.html">Circulars</a>
                          </li>
                          <li><a href="#">Link</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="box">
                        <ul>
                          <li>
                            <h4>Heading</h4>
                          </li>
                          <li><a href="#">Link</a>
                          </li>
                          <li><a href="#">Link</a>
                          </li>
                          <li><a href="#">Link</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="login.html"><i class="fas fa-globe-africa"></i> </a></li>
          <li><a href="login.html"><i class="fas fa-user"></i> </a></li>
          <li><a href="#search"><i class="fas fa-search"></i> </a></li>
        </ul>
  
      </div>
    </div>
  </nav>
</header>